footer{
    background-color: $color1;
    h4{
        color: $color2;
        font-size: 25px;

    }
    a{
        color: $color2;
        font-family: 'Lora', serif;
        font-size: 20px;
        font-weight: 3px;
    }
}